Nav {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    font-size: 40px;
    font-family: Caprasimo;
}

body { 
    display: flex;
    justify-content: center;
}

.container {
    display: flex-column;
    max-width: 1200px;
}



img {
    max-width: 30%;
    margin: 1%;
    border: solid;
}