body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
    font-family: Roboto, sans-serif;
  
}

.navbar {
    background-color: grey;
    width: 100%;
    margin: auto;
    border-radius: .75em;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 10px 5px 0px yellow;
    
}

.nav-item {
    
    height: 20%;
    display: inline-block;
    color: white;
    font-size: large;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
}

.nav-item:hover {
    background-color: yellow;
    border-radius: .75em;
    color: black;
    outline: 1px solid grey;
}

a:link {
    text-decoration: none;
}

div{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 50px;
  padding: 50px;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}

img {
  min-height: 75vh;
  border-radius: 1em;
  box-shadow: 10px 5px 5px grey;
  justify-content: center;
  align-content: center;
  
}

.about-me-summary {
  flex-direction: column;
  
  
}

h1 {
  font-size: 3em;
  text-decoration: underline yellow;
  margin: auto;

}

p { 
  text-align: center;
  line-height: 2;
  font-size: 1.25em;
  
}