html {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

@media (max-width: 992px) {
  .nav-item {
    border-top: 1px solid;
  }
}

.fade-in-image {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}